/**
 * @name KAWS
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 * @BDEditor Translucence
*/

@import url('https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css');

:root {
  --app-bg: url('https://i.imgur.com/4Ty1ClY.jpeg');
  --app-blur: 4px;
  --app-margin: 14px;
  --app-radius: 10px;
  --accent-hue: 156;
  --accent-saturation: 0%;
  --accent-lightness: 88%;
  --accent-opacity: 1;
  --sidebar-color: rgba(0,0,0,0.4);
  --main-content-color: rgba(0,0,0,0.2);
  --undefined: 0;
  --interactive-normal: #C5C5C5;
  --interactive-hover: #E1E1E1;
  --interactive-active: #FFFFFF;
  --interactive-muted: #A3A3A3;
  --undefined: 0;
  --background-modifier-hover: rgb(255,255,255,0.075);
  --background-modifier-selected: rgba(255,255,255,0.125);
  --message-color: rgb(0,0,0,0.4);
  --message-radius: 8px;
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --undefined: 0;
  --reply-hue: 226;
  --reply-saturation: 77%;
  --reply-lightness: 72%;
  --reply-opacity: 1;
  --textarea-color: 0,0,0;
  --textarea-alpha: 1;
  --textarea-alpha-focus: 0.16;
  --textarea-radius: 22px;
  --card-color: rgb(0,0,0,0.4);
  --card-color-hover: rgba(0,0,0,0.5);
  --card-color-select: rgba(0,0,0,0.7);
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-radius: 16px;
}

/* Any custom CSS below here */


